* {
  font-family: "Source Sans Pro", sans-serif;
}

.navbar-custom {
  background-color: #00293f;
  color: #fff;
  position: fixed;
  z-index: 1;
  width: 100%;
  font-weight: 300;
  letter-spacing: 0.2rem;
  height: 7%;
  padding-top: 0.5%;
}
.menu-icon {
  width: 25px !important;
  height: 8% !important;
  margin-right: 1%;
  margin-left: 5% !important;
  margin-bottom: 0%;
  margin-top: 0.5%;
}
.navbar-brand {
  margin-left: 5px;
}
.brand-logo {
  height: 26px;
  margin-top: 0.5% !important;
}
.white {
  height: 50px;
  background-color: #fff;
}
.btn-custom {
  color: #fff !important;
  background-color: #00293f;
  border: 1.5px solid #fff !important;
  font-weight: 600;
  height: 10%;
  width: 8%;
  margin-right: 7% !important;
  float: right;
  margin-top: 0.5% !important;
}
.cover {
  background-color: #01273c;
  position: absolute;
  z-index: -1;
  height: 535px;
  width: 100%;
  overflow: hidden;
}
.cover-image {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 18px;
  width: 100% !important;
  height: 660px;
}
.cover-content {
  position: relative;
  color: #fff;
  display: inline-block;
  width: 560px;
  margin: 135px 60px;
  margin-left: 7%;
}
.cover-content h1 {
  font-size: 52px;
  margin: 0 0 16px;
  max-width: 560px;
}
.cover-content p {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 32px;
}
.cover-content button {
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3em;
  padding: 12px 24px;
  position: relative;
  text-align: center;
  min-width: 320px;
  margin-bottom: 12px;
}
.cover-content .p-below {
  font-size: 16px;
  font-weight: 400;
}
.subscription h2 {
  font-size: 36px;
  font-weight: 700;
  color: #000514;
  margin: 0 auto 16px;
  max-width: 792px;
  text-align: center;
}
.subscription {
  align-items: center;
  text-align: center;
  justify-content: center;
}
.icon-division {
  display: inline-block;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: 30px;
}
.item-tag {
  display: inline-block;
  display: inline-flex;
  flex-direction: row;
}
.subscription .MuiSvgIcon-root {
  color: #808080;
  font-size: 40px;
}
.subscription .sub-text {
  font-size: 18px;
  font-weight: 400;
}
.sub-quote .quote-img-div {
  display: inline-block;
}
.sub-quote {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 8%;
}
.sub-quote .quote-img {
  display: inline-block;
  height: 36px;
  width: 62px;
}
.sub-quote .main-para {
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  margin-top: 0%;
  max-width: 588px;
  padding-bottom: 16px;
  text-align: center;
  z-index: 2;
  display: inline-block;
}
.sub-quote .sub-para {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  display: block;
  padding-left: 55px;
}
