* {
  font-family: "Source Sans Pro", sans-serif;
}

.navbar-custom {
  background-color: #00293f;
  color: #fff;
  position: fixed;
  z-index: 1;
  width: 100%;
  font-weight: 300;
  letter-spacing: 0.2rem;
  height: 7%;
  padding-top: 0.5%;
}
.menu-icon {
  width: 25px !important;
  height: 8% !important;
  margin-right: 1%;
  margin-left: 2%;
  margin-bottom: 0%;
  margin-top: 0%;
}
.navbar-brand {
  margin-left: 5px;
}
.brand-logo {
  height: 26px;
}
.white {
  height: 50px;
  background-color: #fff;
}
.btn-custom {
  color: #fff;
  background-color: #00293f;
  border: 1.5px solid #fff;
  width: 120px;
  height: 45px;
  font-weight: 600;
  margin-right: 2%;
  margin-bottom: 1%;
  margin-left: 80%;
  margin-top: 0.3%;
}
